

.input{
    display: flex;
    justify-content: space-evenly;
    padding: 19px;
}
.add-input { 
    outline: none;
    height: 40px;
    border-radius: 4px;
    border: solid 1.1px #cfcfcf;
    background-color: #ffffff;
}
.send-task-btn{
    width: 147px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0px 1px 15px 0 rgba(0, 0, 0, 0.12);
    background-color: #00b074;
}
.has-error {
   border-bottom: 2px solid red;
}
.has-success{
    border-bottom: 2px solid green;
}